<div class="row"> 
    <div class="col-md-4">
        <app-popularity-panel [DoctorData]=Datas></app-popularity-panel>
        <app-skills [DoctorData]=Datas></app-skills>
        <app-about-me [DoctorDataDetails]="Datas"></app-about-me>
    </div>
    <div class="col-md-8">
        <div class="tab-block">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" style="text-decoration: none;" routerLink="doctor-about" data-toggle="tab">About</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" style="text-decoration: none;" routerLink="rating" data-toggle="tab">Rating</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" style="text-decoration: none;" routerLink="chat" data-toggle="tab">Chat</a>
              </li>
            </ul>
            <div class="tab-content p30" style="height: 730px;">
              <div id="tab1" class="tab-pane active">
                <div class="tab-pane active">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

