<div class="panel">
    <div class="panel-heading">
      <span class="panel-icon">
        <i class="fa fa-star"></i>
      </span>
      <span class="panel-title"> User Popularity</span>
    </div>
    <div class="panel-body pn">
      <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
        <thead>
          <tr class="hidden">
            <th class="mw30">#</th>
            <th>First Name</th>
            <th>Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="fa fa-desktop text-warning"></span>
            </td>
            <td>Television</td>
            <td>
              <i class="fa fa-caret-up text-info pr10"></i>$855,913</td>
          </tr>
          <tr>
            <td>
              <span class="fa fa-microphone text-primary"></span>
            </td>
            <td>Radio</td>
            <td>
              <i class="fa fa-caret-down text-danger pr10"></i>$349,712</td>
          </tr>
          <tr>
            <td>
              <span class="fa fa-newspaper-o text-info"></span>
            </td>
            <td>Newspaper</td>
            <td>
              <i class="fa fa-caret-up text-info pr10"></i>$1,259,742</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>