<div class="panel" *ngIf="DoctorData.Hospital_Affiliation.length>0">
    <div class="panel-heading">
      <span class="panel-icon">
        <i class="fa fa-star"></i>
      </span>
      <span class="panel-title"> Hospitals </span>
    </div>
    <div class="panel-body pn">
      <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
        <thead>
          <tr class="hidden">
            <!-- <th class="mw20">#</th> -->
            <th>Hospital Details</th>
            <th>Available Days</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of DoctorData.Hospital_Affiliation;">
          <tr *ngFor="let office of item.Offices;">
           
            <td>
              <table>
                <tr><th class="Bold">Hospital: </th><td>{{item.Hospital_Name}}, {{item.City}}</td></tr>
                <tr><th>Time Slot: </th><td>{{office.Time_Slot_Per_Client_In_Minute}} Min</td></tr>
                <tr><th>First Visit Fee: </th><td>{{office.First_Consultation_Fee}} Rs</td></tr>
                <tr><th>Folowup Visit Fee: </th><td>{{office.Folowup_Consultation_Fee}} Rs</td></tr>
              </table>
            </td>
            <td rowspan="4">
             <table *ngFor="let avail of office.Office_Doctor_Availability;">
               <tr><td>{{avail.Daty_Of_Week}}</td></tr>
               <tr><td>{{avail.Start_time | date: 'hh:mm'}} - {{avail.End_Time | date: 'hh:mm'}}</td></tr>
             </table>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>