<div class="panel" *ngIf="DoctorData.Hospital_Affiliation.length>0">
    <div class="panel-heading">
      <span class="panel-icon">
        <i class="fa fa-star"></i>
      </span>
      <span class="panel-title"> Hospitals </span>
    </div>
    <div class="panel-body pn">
      <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
        <thead>
          <tr class="hidden">
            <th class="mw30">#</th>
            <th>Hospital Name</th>
            <th>Start Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of DoctorData.Hospital_Affiliation;">
          <tr>
            <td>
              <span class="fa fa-desktop text-warning"></span>
            </td>
            <td>{{item.Hospital_Name}}, {{item.City}}</td>
            <td>
              <i class="fa fa-caret-up text-info pr10"></i>{{item.Start_Date | date}}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>