 <!-- ======= Doctors Section ======= -->
 <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Doctors</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6" *ngFor="let item of AllDoctors; let i=index;">
          <div class="member d-flex align-items-start">
            <div class="pic"><a style="cursor: pointer;" (click)="GotoProfile(item.Doctor.ID)"><img src="assets/img/doctors/{{item.Doctor.Photo}}" class="img-fluid" alt=""></a></div>
            <div class="member-info">
              <h4 style="cursor: pointer;" (click)="GotoProfile(item.Doctor.ID)">{{item.Doctor.First_Name}} {{item.Doctor.Last_Name}}</h4>
              <span>{{item.Doctor.Professional_Stateme}}</span>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur</p>
              <div class="social" *ngFor="let socialIndex of item.Doctor.Social_Media; let i=index;">
                  <a *ngIf="item.Doctor.Social_Media[i].Social_Media_Name=='whatsapp'" href="{{item.Doctor.Social_Media[i].Social_Media_Url}}"><i class='bx bxl-whatsapp' ></i></a>
                  <a *ngIf="item.Doctor.Social_Media[i].Social_Media_Name=='facebook'" href="{{item.Doctor.Social_Media[i].Social_Media_Url}}"><i class='bx bxl-facebook' ></i></a>
                  <a *ngIf="item.Doctor.Social_Media[i].Social_Media_Name=='instagram'" href="{{item.Doctor.Social_Media[i].Social_Media_Url}}"><i class='bx bxl-instagram' ></i></a>
                  <a *ngIf="item.Doctor.Social_Media[i].Social_Media_Name=='telegram'" href="{{item.Doctor.Social_Media[i].Social_Media_Url}}"><i class='bx bxl-telegram' ></i> </a>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Doctors Section -->