<div class="page-heading">
    <div class="media clearfix">
      <div class="media-left pr30">
        <a>
          <img  style="width: 200px; height: 200px;border-radius: 50%;border:1px solid #1977cc" class="media-object mw150" src="assets/img/doctors/{{Data.photo}}" alt="...">
        </a>
        <div class="media-links">
          <ul class="list-inline list-unstyled" *ngFor="let social of Data.SocialMedia">
            <li *ngIf="social.Social_Media_Name=='facebook'">
              <a title="facebook link" href="{{social.Social_Media_Url}}" >
                <span class="bx bxl-facebook fs25 text-muted"></span>
              </a>
            </li>
            <li *ngIf="social.Social_Media_Name=='instagram'">
              <a href="{{social.Social_Media_Url}}" title="instagram link">
                <span class="bx bxl-instagram fs25 text-muted">
                </span>
              </a>
            </li>
            <li *ngIf="social.Social_Media_Name=='whatsapp'">
              <a title="phone link">
                <span class="bx bxs-phone-call fs25 text-muted">
                  {{social.Social_Media_Url}}
                </span>
              </a>
            </li>
            <li *ngIf="social.Social_Media_Name=='telegram'">
              <a title="telegram link" >
                <span class="bx bxl-telegram fs25 text-muted">
                  {{social.Social_Media_Url}}
                </span>
              </a>
            </li>
            
          </ul>
        </div>
      </div>                      
      <div class="media-body va-m">
        <h2 class="media-heading">{{Data.Name}} {{Data.lastName}}
          <small> - Profile</small>
        </h2>
        <p class="lead">{{Data.About}}</p>
       
      </div>
    </div>
</div>
